<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="top-wrapper">
        <h2 class="subtitle">Log in page</h2>
        <div class="login-form">
            <h1 class="title">Welcome <%= name %>!</h1>
            <form action="/account" method="GET">
                <label for="user" class="label-title">Username or Email</label> <br />
                <input type="text" id="user" name="user" class="input-form" /> <br />
                <label for="pass" class="label-title">Password</label> <br />
                <input type="password" id="pass" class="input-form" /> <br />
                <a class="label-title">Forgotten Password?</a> <br />
                <div class="login-footer">
                    <div class="remember">
                        <input type="checkbox" /><span>Remember Me</span>
                    </div>
                    <button href="./account.ejs" class="login-button">LOG IN</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>