<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LIST APP</title>
        <link rel="stylesheet"
                href="/css/style.css">
    </head>
    <body>
        <div class="top-wrapper">
        <div class="top-detail">
            <h2 class="subtitle">Purchase list app</h2>
            <h1 class="title">LIST APP</h1>
            <p class="description">
            LIST APP is a service to list up for purchase.
            <br>
            Add products what you want.
            </p>
            <a class="index-button" href="/index">Show all</a>
        </div>
        <div class="top-image">
            <img src="../public/images/sampleimg.jpg">
        </div>
        </div>
    </body>
</html>