<!-- list 2-10
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        h1 { font-size: 60px; color: #eee;
            text-align: right; margin: 0px; }
        body { font-size: 14px; color: #999;
            margin: 5px; }
    </style>
</head>
<body>
    <head>
        <h1>Index</h1>
    </head>
    <div role=main>
        <p>This is Index Page.</p>
        <p>with EJS</p>
    </div>
</body>
</html> -->


<!-- list 2-12 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <style>
        h1 { font-size: 60px; color: #eee;
            text-align: right; margin: 0px; }
        body { font-size: 14px; color: #999;
            margin: 5px; }
    </style>
</head>
<body>
    <head>
        <h1><%=title %></h1>
    </head>
    <div role=main>
        <p><%=content %></p>
    </div>
</body>
</html>